* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

html {
	font-size: 60px;
}

.container {
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

.header_block {
	display: flex;
	flex-direction: column;
}

.menu_block:hover {
	background-color: #808080;
	cursor: pointer;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	height: auto;
	border: none;
	margin: auto;
}

.slog_sr {
	width: 25%;
	height: auto;
}

.serch_header {
	width: 25%;
	height: auto;
}

.search_block {
	width: 100%;
	height: 40px;
	min-width: 90px;
	background-color: #FFFFFF;
	padding-left: 15px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
}

.logo {
	width: 1.5rem;
	height: 1.5rem;
}

.icons_telephone {
	width: 0.3rem;
	height: 0.3rem;
	margin-left: 30px;
}

.icons_reg {
	width: 0.3rem;
	height: 0.3rem;
}

.log_in {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.number_telephone {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.connect_with_company {
	display: flex;
	flex-direction: row;
	width: 25%;
	height: auto;
	min-width: 200px;
	align-items: center;
}

.menu_header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	color: #fff;
	border: none;
	background-color: #555;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.menu_block {
	display: inline-block;
	border-right: 1px solid rgba(255,255,255,0.15);

	padding: 20px;
}

.menu_block:first-child {
	border-left: 1px solid rgba(255,255,255,0.15);
}


.menu_items {
	color: #f5f5f5;
	text-decoration-line: none;
}

content {
	display: flex;
	font-family: sans-serif;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.line_content {
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	margin: 100px 0 100px 50px;
}

.content_blocks {
	width: 28%;
	text-align: center;
	border: 1px solid #F0F0F0;
	border-bottom: none;
	font-weight: bold;
	padding: 20px 19px 26px 20px;
}

.content_but {
	width: 80%;
	height: 35px;
	color: #808080;
	margin-bottom: 15px;
}

.content_but:hover {
	background-color: #555;
	color: white;
}

.pb_img {
	width: 76%;
}

.pb_img_white{
	width: 50%;
}

.text_pb {
	font-size: 15px;
	text-align: center;
}

.summa_pb {
	font-size: 17px;
	text-align: center;
	padding-top: 20px;
}

.name_of_blocks {
	font-size: 33px;
	font-weight: bold;
	font-family: sans-serif;

	padding: 40px 0 40px 18.6%;

}

 .name_of_blocks_border {
 	width: 100%;
 	border: none;
 	background-color: #F0F0F0; 
 }

.filter_parametr {
	font-size: 17px;
	font-family: sans-serif;
	text-align: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: 1px solid #E8E8E8;
	background-color: #F0F0F0;
	width: 50%;
	min-width: 250px;
}

.filters_menu {
	width: 35%;
	height: auto;
	margin-top: 100px;
	font-size: 14px;
}

.filter_items {
	text-decoration: none;
	color: black;
}

.blocks_filters {
	display: block;
	text-align: left;
	padding-top: 15px;
	padding-left: 10px;
	width: 50%;
	height: 35px;
	border: 1px solid #E8E8E8;
	background-color: #F0F0F0;
	min-width: 250px;
}

.blocks_filters:hover {
	background-color: white;
}

.show_but {
	width: 30%;
	min-width: 80px;
	height: 35px;
	margin-top: 10px;
	margin-left: 50px;
	background-color: #555;
	color: white;
}

.show_but:hover {
	background-color: #808080;
}

.reset_but {
	width: 30%;
	min-width: 80px;
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	color: #808080;
}

.reset_but:hover {
	background-color: #555;
	color: white;
}

.but_block {
	display: block;
	padding-bottom: 20px;
	border: 1px solid #E8E8E8;
	background-color: #F0F0F0;
	width: 52%;
	height: 35px;
	min-width: 260px;
}

.news_tab {
	display: block;
	margin-top: 50px;
	width: 18.2%;
	height: auto;
	font-size: 14px;
	border: 1px solid #E8E8E8;
	min-width: 250px;
}

.all_news {
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding-left: 70px;
	margin-top: 3px;
}

.date_news {
	color: #808080
}

.text_news {
	font-size: 15px;
}

.news_top {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.news_info:hover {
	border-left: 3px solid black;
	padding-left: 10px;
}

.news_info {
	margin-top: 20px;
	line-height: 25px;
	width: 100%;
	min-width: 250px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.stats_tab {
	display: block;
	margin-top: 50px;
	width: 18.2%;;
	height: auto;
	font-size: 14px;
	border: 1px solid #E8E8E8;
	min-width: 250px;
}

.all_stats {
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding-left: 95px;
	margin-top: 3px;
}

.date_stats {
	color: #808080
}

.text_stats {
	font-size: 15px;
}

.stats_top {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.stats_info {
	margin-top: 20px;
	line-height: 25px;
	width: 100%;
	min-width: 250px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.stats_info:hover {
	border-left: 3px solid black;
	padding-left: 10px;
}

.blog-section {
	padding: 60px 0;
}

.contact-section {
	margin: 30px 0;
}

.blog {
    display: flex;
    flex-wrap: wrap;
}

.blog-width {
	width: 100%;
}

.blog-item {
	margin-bottom: 60px;
	overflow: hidden;
}

.blog-item .blog-img {
	width: 230px;
	height: 170px;
	float: left;

	background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

.blog-item .blog-content {
	padding-left: 258px;
	font-size: 16px;
}

.blog-item .blog-content h4 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 8px;
	line-height: 1.4;
}

.blog-item .blog-content p {
	margin-bottom: 10px;
}

.blog-item .blog-content a {
	text-decoration: none;
	color: #000;
}

.blog-item .blog-content .blog-readmore {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
}

.blog-item .blog-meta {
	margin-bottom: 15px;
}

.blog-item .blog-meta span {
	margin-right: 10px;
	font-size: 12px;
}

.blog-item .blog-meta span i {
	margin-right: 5px;
}

.contact-info {
	display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contact-info .contact-item {
	display: inline-block;
	margin-left: 20px;
}

.contact-info .contact-item i {
	width: 45px;
	height: 45px;
	display: inline-block;
	position: relative;
	text-align: center;
	color: #333;
	font-size: 17px;
	padding-top: 13px;
	margin-right: 20px;

	box-sizing: border-box;
}

.contact-info .contact-item i:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 1px solid #d2d2db;
	transform: rotate(45deg);
	border-radius: 2px;
}

.contact-info .contact-item p {
	display: inline-block;
	position: relative;
	top: 10px;
	margin-bottom: 0;

	font-size: 16px;
}

.contact-info .contact-item p span {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #020031;
	font-weight: 500;
}

.contact-maps {
	width: 100%;

	box-shadow: 0 0 10px rgba(155, 155, 155, 0.7);
	border-radius: 10px;
}

.contact-maps img {
	width: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.footer {
	display: flex;
	width: 100%;
	background-color: #222222;
}

.footer_block_content_top {
	display: flex;
	font-family: sans-serif;
	justify-content: space-around;
	padding: 20px 0;

	border-bottom: 1px solid #333;
}

.footer_block_one {
	display: flex;
	flex-direction: column;
	/*width: 10%;*/
}

.zag_parametr_footer {
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	color: white;

	padding-bottom: 20px;
}

.zag_parametr_footer:after {
	color: #444346;
}

.parametr_footer {
	font-size: 15px;
	text-decoration: none;
	color: #808080;
	line-height: 25px;
}

.parametr_footer:hover {
	color: #444346;
}

.footer_block_contact {
	display: flex;
	flex-direction: column;
}

.block_contact {
	text-decoration: none;
	color: white;
	font-size: 18px;

	padding-top: 15px;
}

.ours_contact {
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.telephone_footer {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.mail_footer {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.mail_footer:hover {
	color: #444346;
}

.geo_footer {
	color: white;
	font-size: 18px;
}

.icons_footer {
	width: 0.3rem;
	height: 0.3rem;
}

.footer_block_content_bottom {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
	font-size: 18px;
	color: #555;
}

.text_footer_bottom {
	font-size: 18px;
	color: white;
}

.form-control {
	margin: 0 0 20px;
}

@media screen and (max-width: 1200px) {
	.blog {
	    padding: 0 15px;
	}
}

@media screen and (max-width: 1100px) {
	.content_blocks {
		width: 43%;
	}
}

@media screen and (max-width: 990px) {
	.content {
		margin: 0;
	}

	.line_content {
		display: none;
	}

	.name_of_blocks {
		padding: 40px 0;
    	text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.zag_parametr_footer, .ours_contact, .block_contact  {
		font-size: 16px;
	}

	.copyright, .text_footer_bottom, .menu_header {
		font-size: 14px;
	}

	.blog-item .blog-img {
	    width: 100%;
	    height: 480px;

	    margin-bottom: 10px
	}

	.blog-item .blog-content {
	    padding-left: 0;
	}

}

@media screen and (max-width: 700px) {
	.blog-item .blog-img {
	    height: 430px;
	}
}

@media screen and (max-width: 625px) {
	.blog-item .blog-img {
	    height: 375px;
	}
}

@media screen and (max-width: 550px) {
	.blog-item .blog-img {
	    height: 330px;
	}
}

@media screen and (max-width: 585px) {
	.content_blocks {
		width: 100%;
	}

	.contact-info {
	    flex-direction: column;
	}

	.contact-info .contact-item:not(:last-child) {
	    margin-bottom: 30px;
	}

	.blog-item .blog-content h4 {
	    font-size: 18px;
	}

	.blog-item .blog-meta span {
	    font-size: 11px;
	}

	.blog-item .blog-content p {
	    font-size: 14px;
	}

	.blog-item .blog-content .blog-readmore {
	    font-size: 10px;
	}
}

@media screen and (max-width: 560px) {
	.zag_parametr_footer, .ours_contact, .block_contact  {
		font-size: 12px;
	}

	.copyright, .text_footer_bottom, .menu_header, .parametr_footer {
		font-size: 10px;
	}

	.name_of_blocks {
		font-size: 26px;
	}

	.icons_footer {
	    width: 0.2rem;
	    height: auto;
	}
}

@media screen and (max-width: 479px) {
	.zag_parametr_footer {
		padding-bottom: 10px;
	}

	.zag_parametr_footer, .ours_contact, .block_contact  {
		font-size: 9px;
	}

	.copyright, .text_footer_bottom, .menu_header, .parametr_footer {
		font-size: 8px;
	}

	.header {
		width: 100%;
		justify-content: space-around;
	}

	.number_telephone {
		font-size: 12px;
	}

	.icons_telephone {
		width: 0.2rem;
		height: auto;
	}

	.connect_with_company {
		min-width: 120px;
	}

	.logo {
		width: 1em;
		height: auto;
	}

	.serch_header {
		display: flex;
    	align-items: center;
	}

	.blog-item .blog-img {
	    height: 285px;
	}
}

@media screen and (max-width: 479px) {
	.blog-item .blog-img {
	    height: 245px;
	}
}

@media screen and (max-width: 380px) {
	.contact-info .contact-item i {
	    width: 40px;
	    height: 40px;
	    font-size: 12px;
	    padding-top: 14px;
	}

	.contact-info .contact-item p {
	    font-size: 12px;
	}

	.blog-item .blog-img {
	    height: 220px;
	}
}